In [1]:
1+2

3

In [3]:
tu = (23, 'abc', 4.56, (2, 3), 'def')

In [4]:
print(tu)

(23, 'abc', 4.56, (2, 3), 'def')

In [2]:
li = ["abc", 34, 4.34, 23]

In [3]:
print(li)

['abc', 34, 4.34, 23]

In [33]:
st = "Hello World"
st = 'Hello World'
st = """This is a multi-line string
 that uses triple quotes."""

In [34]:
print(st)

This is a multi-line string
 that uses triple quotes.

In [8]:
tu = (23, 'abc', 4.56, (2, 3), 'def')
tu[1]

'abc'

In [9]:
li = ["abc", 34, 4.34, 23]
li[1]

34

In [10]:
st = "Hello World"
st[1]

'e'

In [11]:
t = (23, 'abc', 4.56, (2, 3), 'def')
t[1]

'abc'

In [12]:
t = (23, 'abc', 4.56, (2, 3), 'def')
t[-3]

4.56

In [13]:
t = (23, 'abc', 4.56, (2, 3), 'def')
t[1:4]

('abc', 4.56, (2, 3))

In [14]:
t = (23, 'abc', 4.56, (2, 3), 'def')
t[1:-1]

('abc', 4.56, (2, 3))

In [15]:
t = (23, 'abc', 4.56, (2, 3), 'def')
t[1:-1:2]

('abc', (2, 3))

In [16]:
t = (23, 'abc', 4.56, (2, 3), 'def')
t[:2]

(23, 'abc')

In [17]:
t = (23, 'abc', 4.56, (2, 3), 'def')
t[2:]

(4.56, (2, 3), 'def')

In [18]:
t = (23, 'abc', 4.56, (2, 3), 'def')
t[:]

(23, 'abc', 4.56, (2, 3), 'def')

In [20]:
# list2 = list1 <--If you change list 2, it changes together

NameError: name 'list1' is not defined

In [21]:
# list2 = list1[:] <--2 independent copies, 2 references

NameError: name 'list1' is not defined

In [26]:
t = [1, 2, 4, 5]
print(3 in t)
print(4 in t)
print(4 not in t)

False
True
False

In [28]:
a = 'abcde'
print('c' in a)
print('cd' in a)
print('ac' in a)

True
True
False

In [32]:
(1, 2, 3) + (4, 5, 6)
print((1, 2, 3) + (4, 5, 6))
[1, 2, 3] + [4, 5, 6]
print([1, 2, 3] + [4, 5, 6])
"Hello World" + " " + "World"
print("Hello World" + " " + "World")

(1, 2, 3, 4, 5, 6)
[1, 2, 3, 4, 5, 6]
Hello World World

In [38]:
tu = [3, 'abc', 4.56, (2, 3), 'def']
tu1 = tu[:]
tu[0] = 12
print(tu)
print(tu1)

[12, 'abc', 4.56, (2, 3), 'def']
[3, 'abc', 4.56, (2, 3), 'def']

In [39]:
tu = [3, 'abc', 4.56, (2, 3), 'def']
tu1 = tu
tu[0] = 12
print(tu)
print(tu1)

[12, 'abc', 4.56, (2, 3), 'def']
[12, 'abc', 4.56, (2, 3), 'def']